---
export const prerender = false;

 const currentDate = new Date();
 let month = Astro.params.month;
 let year = Astro.params.year;



 let monthInWord = [
  'intet','januar','februar','marts','april','maj','juni','juli','august','september','oktober','november','december'
];
  

function getDaysInMonth(month, year) {
  // Create a new date object for the given month and year
  const date = new Date(year, month - 1, 1);

  // Get the next month's first day
  const nextMonth = new Date(year, month, 1);

  // Subtract 1 day from the next month's first day
  const lastDayOfMonth = new Date(nextMonth.getTime() - 1);

  // Extract the day from the last day of the given month
  const daysInMonth = lastDayOfMonth.getDate();

  return daysInMonth;
}


const daysInMonth = getDaysInMonth(month, year);
console.log(daysInMonth);


import MainLayout from "../../../layout/main-layout.astro";
import Card from "../../../components/Card.astro"

const url = `https://yskliqqpdzsegbvxarsv.supabase.co/rest/v1/events?select=*&&date=gt.${year}-${month}-01&date=lt.${year}-${month}-${daysInMonth}`;
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlza2xpcXFwZHpzZWdidnhhcnN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQxMzk2MjQsImV4cCI6MTk5OTcxNTYyNH0.iKKqWn6lmjZ-iZtDQz4yQf1uzevLT0nACyS9LlHt5x8";
const options = {
  method: "GET",
  headers: {
    apikey: api,
  },
};

const data = await fetch(url, options).then((res) => res.json());
data.sort((a, b) =>  Date.parse(a.date) - Date.parse(b.date));

function getFirstLetters(sentence) {
  return sentence.substring(0, 50);
}


let nextmonth = Number(month)+1;
let nextyear = Number(year);
if(nextmonth == 13){
  nextmonth =1;
  nextyear += 1;
}

let prevmonth = Number(month)-1;
let prevyear = Number(year);
if(prevmonth == 0){
  prevmonth =12;
  prevyear -= 1;
}

---

<MainLayout background="begivenheder-bg">
    <div class="headlineContainer">
        <h1>Begivenheder</h1>
    </div>
    <div class="month-container">
      <a href=`/begivenheder/${prevyear}/${prevmonth}`><img class="arrowMonth" src="/../../img/black_arrow_left.svg" alt=""></a>
      <p>{monthInWord[month]+": "+year}</p>
      <a href=`/begivenheder/${nextyear}/${nextmonth}`><img class="arrowMonth" src="/../../img/black_arrow_right.svg" alt=""></a>
    </div>

    <div class="eventContainer">
        {   
        
            data.map((event) => {
                return <div class="card-container"> <Card headline={event.headline} eventDate={event.date} content={ getFirstLetters(event.description)+"..."} cardImage={event.image} link={"/../../begivenhed/"+event.id} /> </div>
            })
        } 
    </div>
    
    
</MainLayout>

<style>
  .card-container{
    margin: 20px 0px;
  }
  @media (min-width: 380px) {
    .card-container{
    margin: 20px 10px;
  }
  }
    .month-container{
      display: flex;
      margin-inline: auto;
      justify-content: center;
      align-items: center;
      
      
    }
    .eventContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
  

    .arrowMonth{
      width: 20px;
      
    }

</style>


