---
import Button from "../components/Button.astro";
const {headline, eventDate, content, cardImage, className, link} = Astro.props;
---

<div class="card square">
    <div class="card_img" style=`background-image: url('/../../img/${cardImage}');`>
    </div>
    <div class="card_content">
        <div class="title_date_wrapper">
            <div class="title">
                <p>{headline}</p>
                </div>
            <div class="date">
                   <p>{eventDate}</p>
                </div>
        </div>
        <div class="description">
            <p>
                {content}
            </p>
        </div>
        <div class="card_button">
            <Button classname="button_small" action="Læs mere" link={link} />
        </div>
    </div>
</div>

<style>

.card {
    background-color: white;
    width: 280px;
    height: 355px;
    border-radius: 20px;
    margin: 20px 10px;
    display: inline-block;

}


.card_img {
    height: 202px;
    border-radius: 20px 20px 0px 0px;
    
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.card_content {
    padding: 15px;
}

.title_date_wrapper {
    display: flex;
    justify-content: space-between;
}

.title_date_wrapper p {
    font-weight: bold;
}

.description p {
    padding: 15px 0px;
    font-weight: 300;
}

.card_button {
    display: flex;
    justify-content: flex-end;
}

.description p{
    white-space: normal;
}
@media (min-width: 600px) {
.card {
    width: 300px;
    height: 400px;
}

.card_img {
    height: 222px;
}
}
</style>
